@import "./normalize.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*globales*/
body {
  font-size: 1.9rem;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: #000839;
  color: #fff;
}

/* app */
#root {
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: #005082;
  padding: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.todo-counter {
  color: #ffa41b;
  text-align: center;
  font-size: 2.8rem;
}
.todo-counter--loading {
  opacity: 0.5;
}
@media (min-width: 768px) {
  body {
    font-size: 2.2rem;
  }
  .todo-counter {
    font-size: 3.2rem;
  }
}
.search {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #00728a;
  width: 85%;
  border: 2px solid transparent;
}
.search:focus {
  outline: 2px solid #002c47;
}
.search::placeholder {
  color: #f8f8f8;
}
.todo-container {
  width: 100%;
  border-radius: 1rem;
  overflow: auto;
  height: 35rem;
}
.todo-container__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}
.todo {
  cursor: pointer;
  color: #002c47;
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #00a8cc;
  border-radius: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
  min-height: 10rem;
}
@media (min-width: 1080px) {
  .todo-container {
    height: 30rem;
  }
}
.todo:last-of-type {
  margin-bottom: 0;
}
.todo__text {
  padding: 1.5rem;
  margin: 0;
}
.todo__text--completed {
  text-decoration: line-through;
  font-weight: bold;
}
.todo__icon {
  cursor: pointer;
  font-size: 2rem;
  place-self: end;
  width: 70%;
  height: 100%;
  background-color: #002f4c;
  display: grid;
  place-content: center center;
}
.todo__icon:hover svg {
  fill: #f02222;
}
.button {
  z-index: 1;
  position: fixed;
  height: 6rem;
  width: 6rem;
  margin-top: 3rem;
  display: grid;
  place-content: center center;
  border: none;
  background-color: #1185f8;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
  bottom: 2rem;
  right: 2rem;
  transition: transform 0.5s linear, background-color 300ms ease;
}
.button:hover {
  background-color: #08519a;
}
.button:hover svg {
  fill: #ccc;
}
@media (min-width: 480px) {
  .button {
    padding: 4rem;
    bottom: 5rem;
    right: 5rem;
  }
}
.button:active {
  transform: rotate(45deg);
}

/*modal*/
.modal--show {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.button--modal {
  transform: rotate(135deg);
}
.modal {
  width: fit-content;
  margin: 0 auto;
  padding: 4rem;
  background-color: #005082;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.modal__textarea,
.modal__buttons {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}
.modal__textarea:focus {
  outline: 3px solid #002c47;
}
.modal__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.modal__buttons__button {
  cursor: pointer;
  background-color: #000839;
  color: #ffa41b;
  font-weight: bold;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  transition: background-color 300ms ease;
}
.modal__buttons__button:hover {
  background-color: #0f153f;
}
/*https://colorhunt.co/palette/ffa41b00083900508200a8cc*/
